[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "slam_gmapping"]
	path = slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
	branch = melodic-devel
